{% extends 'products/shared/base.html' %}

{% block content %}

{% load static %}


<body>
    <div class="container">
      <br><br>
        <h1 style="text-align: center;">Approve Merchants</h1>
        <hr>
        <div class="container m-5">
            
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr>
                        <th colspan="5">
                            Remaining...
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for merchants in approvals %}
                    <tr>
                        
                        <td class="text-left">
                            <h4>
                                Name:</h4> {{ merchants.username }}
                            <br>
                                Email: {{ merchants.email }}
                            <br>
                                Phone: {{ merchants.phn_number }}
                            <br>
                                Address: {{ merchants.phn_number }} 
                        </td>
                        <td>
                            <a href="{% url 'approve_merchant' merchants.id %}" cls="btn btn-primary"> Approve</a>
                            
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
           
        </div>   
    </div>

  </body>
</html>

{% endblock content %}