<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>
      We appreciate your business! If you have any questions, please mail us at ongodelivery@ongo.com
      {% if request.user.user_type == 'customer' %}
        <p class="text-center">
          please click <a href="{% url 'customer_index' %}">here</a> to continue shopping</p>
        </p>
      {% else %}
        <p class="text-center">
          please click <a href="{% url 'owner_index' %}">here</a> to continue shopping</p>
        </p>
      {% endif %}
    </p>
  </section>
</body>
</html>